@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-dark: #161616;
  --bg-secondary: #1c1c1c;
  --color-primary: #d3d3d3;
  --color-secondary: #909193;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-dark);
  color: var(--color-primary);
  position: relative;
  min-height: 100svh;
  width: 100%;
  position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

/* header */

header {
  background: var(--bg-secondary);
  border-bottom: 0.5px solid #777a7d43;
  display: flex;
  align-items: center;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.navigation > * {
  width: 100%;
}

.navigation .logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.navigation .logo a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  white-space: nowrap;
  transition: color 0.5s, all cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.navigation .logo a:hover {
  color: #d3d3d3bc;
}

.navigation .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navigation .nav-links ul li {
  margin: 0 4px;
  overflow: hidden;
}

.navigation .nav-links ul li a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
  display: flex;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  transition: background 0.5s, color 0.5s,
    all cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.navigation .nav-links ul li a:hover {
  color: var(--color-primary);
  background: var(--bg-dark);
  border: 1px solid #777a7d43;
}

.navigation .nav-links ul li a.active {
  color: var(--color-primary);
  background: var(--bg-dark);
  border: 1px solid #777a7d43;
}

.navigation .nav-icons,
.navigation .nav-icons ul {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
}

.navigation .nav-icons ul li {
  margin: 0 8px;
}

.navigation .nav-icons ul li a {
  color: var(--color-secondary);
  text-decoration: none;
}

.navigation .nav-icons ul li a i {
  font-size: 20px;
}

.navigation .nav-icons ul li a:hover i {
  color: var(--color-primary);
}

.navigation .nav-icons ul li .cart {
  position: relative;
}

.navigation .nav-icons ul li .cart span {
  position: absolute;
  top: -15px;
  right: -13px;
  background: red;
  color: var(--bg-dark);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 14px;
}

.burger-menu {
  display: none;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.burger-menu button {
  background: transparent;
  border: 1px solid var(--color-secondary);
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  height: 45px;
  width: 45px;
  transition: all 0.5s, all cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.burger-menu button i {
  font-size: 24px;
  color: var(--color-secondary);
  transition: color 0.5s, all cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.burger-menu button:hover {
  background-color: var(--color-secondary);
  color: var(--bg-dark);
}

.burger-menu button:hover > i {
  color: var(--bg-dark);
}

.burger-menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: visibility 0.3s cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s,
    opacity 0.3s cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
  visibility: hidden;
  opacity: 0;
}

.burger-menu-content.active {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.burger-menu-content .close-menu {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 45px;
  width: 45px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid var(--color-secondary);
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  color: var(--color-secondary);
  transition: color 0.5s, all cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.burger-menu-content .close-menu:hover {
  color: var(--bg-dark);
  background-color: var(--color-secondary);
}

.burger-menu-content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 80%;
}

.burger-menu-content ul li {
  margin: 5px 0;
  overflow: hidden;
}

.burger-menu-content ul li a {
  color: var(--color-secondary);
  background: #222222c6;
  border: 1px solid #777a7d43;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s, color 0.5s,
    all cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.burger-menu-content ul li a:hover {
  color: var(--color-primary);
  background: var(--bg-dark);
  border: 1px solid #777a7d82;
}

@media screen and (max-width: 768px) {
  header .navigation .nav-links {
    display: none;
  }

  header .navigation .nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-menu {
    display: flex;
  }
}

/* hero-section */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  padding: 30px 0;
  position: relative;
}

.hero-section .grid-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 10;
  margin-top: 50px;
}

.hero-section .grid-hero .left {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.hero-section .grid-hero .left .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-section .grid-hero .left .content h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  color: var(--color-primary);
  line-height: 1.2;
}

.hero-section .grid-hero .left .content p {
  color: var(--color-secondary);
  font-size: clamp(1rem, 3vw, 1.2rem);
  line-height: 1.3;
  font-weight: 500;
}

.hero-section .grid-hero .left .content a {
  text-decoration: none;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(31px 15px 50px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  padding: 12px 20px;
  width: fit-content;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #d3d3d3bc;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.1rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.hero-section .grid-hero .left .content a:hover {
  background: var(--color-primary);
  color: var(--bg-dark);
}

.hero-section .grid-hero .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.hero-section .grid-hero .right img {
  height: 400px;
  width: auto;
  filter: drop-shadow(31px 7px 27px #222222);
  object-fit: cover;
  opacity: 0.8;
  transition: cubic-bezier(0.09, 0.31, 0.24, 0.12) 0.5s;
}

.hero-section .grid-hero .right img:hover {
  transform: scale(1.01);
}

.hero-section .bg {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 380px;
  width: 380px;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  opacity: 0.2;
  filter: drop-shadow(31px 15px 50px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  z-index: 1;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .hero-section {
    width: 100%;
    min-height: 110svh;
    padding: 100px 0;
  }

  .hero-section .grid-hero {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: -30px 0;
  }

  .hero-section .grid-hero .left .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}

/* section-boutique */

.section-boutique {
  width: 100%;
  min-height: 80svh;
  padding: 10px 0;
  z-index: 10;
}

.section-boutique .content {
  display: flex;
  flex-direction: column;
}

.section-boutique .content .title {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.section-boutique .content .title h1 {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 600;
}

.section-boutique .content .title .underline {
  height: 4px;
  width: 50%;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.section-boutique .content .grid-box {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 15px;
}

.section-boutique .content .grid-box .left {
  width: 20%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  position: sticky;
  top: 65px;
  z-index: 99;
  height: fit-content;
}

@media screen and (max-width: 1080px) {
  .section-boutique .content .grid-box .left {
    display: none;
  }
}

.section-boutique .content .grid-box .left .header {
  height: 60px;
  padding: 12px 0;
}

.section-boutique .content .grid-box .left .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-boutique .content .grid-box .left .items,
.accord {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-boutique .content .grid-box .left .items .accord .accord-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.section-boutique .content .grid-box .left .items .accord .accord-header .icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-boutique
  .content
  .grid-box
  .left
  .items
  .accord
  .accord-header
  .icon
  i {
  transition: 0.3s cubic-bezier(0.41, 0.61, 0.78, 0.57);
}

.section-boutique .content .grid-box .left .items .accord .accord-body {
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
  transition: max-height 0.3s cubic-bezier(0.41, 0.61, 0.78, 0.57);
}

.section-boutique .content .grid-box .left .items .accord .accord-body.active {
  max-height: 200px;
  transition: max-height 0.3s cubic-bezier(0.41, 0.61, 0.78, 0.57);
}

.section-boutique .content .grid-box .left .items .accord .accord-body .item {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.section-boutique
  .content
  .grid-box
  .left
  .items
  .accord
  .accord-body
  .item
  input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.section-boutique
  .content
  .grid-box
  .left
  .items
  .accord
  .accord-body
  .item
  span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(31px 15px 50px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid #777a7d43;
  border-radius: 6px;
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
  margin-right: 10px;
}

.section-boutique
  .content
  .grid-box
  .left
  .items
  .accord
  .accord-body
  .item:hover
  input
  ~ span {
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.42),
    transparent
  );
  filter: drop-shadow(31px 15px 50px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}
.section-boutique
  .content
  .grid-box
  .left
  .items
  .accord
  .accord-body
  .item
  input:checked
  ~ span {
  background: radial-gradient(
    circle at center,
    rgba(181, 244, 168, 0.845),
    transparent
  );
  filter: drop-shadow(31px 15px 50px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.section-boutique
  .content
  .grid-box
  .left
  .items
  .accord
  .accord-body
  .item
  span::after {
  content: "";
  position: absolute;
  display: none;
}

.section-boutique
  .content
  .grid-box
  .left
  .items
  .accord
  .accord-body
  .item
  input:checked
  ~ span::after {
  display: block;
}

.section-boutique
  .content
  .grid-box
  .left
  .items
  .accord
  .accord-body
  .item
  span::after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section-boutique
  .content
  .grid-box
  .left
  .items
  .accord
  .accord-body
  .item
  label {
  cursor: pointer;
  font-size: 16px;
  color: var(--color-primary);
  margin-left: 30px;
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.section-boutique .content .grid-box .left .items .accord .accord-footer {
  height: 2px;
  width: 100%;
  background: var(--color-secondary);
}

.section-boutique .content .grid-box .left .items .accord-validate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.section-boutique .content .grid-box .left .items .accord-validate input {
  width: 100%;
  padding: 8px;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(4px 12px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  color: white;
  outline: none;
  border: 1px solid var(--color-secondary);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.section-boutique .content .grid-box .right {
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-boutique .content .grid-box .right .header {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  position: sticky;
  top: 70px;
  background: var(--bg-dark);
  padding: 15px 0;
  z-index: 99;
}

.section-boutique .content .grid-box .right .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.section-boutique .content .grid-box .right .grid .card {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 270px;
  border-radius: 12px;
  border: 1px solid var(--color-secondary);
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
  overflow: hidden;
  position: relative;
}

.section-boutique .content .grid-box .right .grid .card .card-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.section-boutique .content .grid-box .right .grid .card .card-body img {
  height: 180px;
  object-fit: cover;
  margin: 0 auto;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-body
  .like-content {
  position: absolute;
  top: 15px;
  right: 15px;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-body
  .like-content
  input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-body
  .like-content
  input:checked
  ~ label
  i {
  color: red;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-body
  .like-content
  label
  i {
  font-size: 24px;
  color: var(--color-primary);
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.section-boutique .content .grid-box .right .grid .card .card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  background: var(--bg-secondary);
  border-top: 0.5px solid var(--color-secondary);
  color: var(--color-primary);
  font-weight: 600;
  font-size: 16px;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-footer
  .content-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-boutique .content .grid-box .right .grid .card .card-footer .colors {
  display: flex;
  gap: 5px;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-footer
  .colors
  > .color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-footer
  .content-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-footer
  .content-store
  .price {
  font-weight: 600;
  font-size: 18px;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(4px 12px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-footer
  .content-store
  .store {
  color: var(--color-primary);
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
  text-decoration: none;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-footer
  .content-store
  .store
  i {
  font-size: 20px;
}

.section-boutique
  .content
  .grid-box
  .right
  .grid
  .card
  .card-footer
  .content-store
  .store:hover {
  color: var(--color-secondary);
}

.section-boutique .content .grid-box .right .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.section-boutique .content .grid-box .right .pagination .content-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(4px 12px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  padding: 15px;
  width: fit-content;
}

.section-boutique .content .grid-box .right .pagination .content-pagination a {
  border: 1px solid var(--color-secondary);
  width: 40px;
  height: 40px;
  outline: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: transparent;
  color: var(--color-primary);
  font-size: 18px;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.section-boutique
  .content
  .grid-box
  .right
  .pagination
  .content-pagination
  a:hover {
  color: black;
  background: white;
}

@media screen and (max-width: 768px) {
  .section-boutique .content .grid-box .left {
    display: none;
  }

  .section-boutique
    .content
    .grid-box
    .right
    .pagination
    .content-pagination
    a {
    width: 22px;
    height: 22px;
  }
  .section-boutique .content .grid-box .right .pagination .content-pagination {
    gap: 3px;
    padding: 10px;
  }
}

/* section-solde */

.section-solde {
  width: 100%;
  min-height: 100svh;
  padding: 20px 0 0 0;
  background: var(--bg-dark);
}

.section-solde .solde-content-title {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 15px;
}

.section-solde .solde-content-title h1 {
  font-size: 50px;
  color: var(--color-primary);
  font-weight: 600;
}

.section-solde .solde-content-title p {
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: 500;
  margin: -10px 0 10px 0;
}

.section-solde .solde-content-title .underline {
  height: 4px;
  width: 50%;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.section-solde .solde-content-body .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.section-solde .solde-content-body .grid .card {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 270px;
  border-radius: 12px;
  border: 1px solid var(--color-secondary);
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
  overflow: hidden;
  position: relative;
}

.section-solde .solde-content-body .grid .card .card-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.section-solde .solde-content-body .grid .card .card-body img {
  height: 180px;
  object-fit: cover;
  margin: 0 auto;
}

.section-solde .solde-content-body .grid .card .card-body .solde-banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  background: #9091938c;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
}

.section-solde .solde-content-body .grid .card .card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  background: var(--bg-dark);
  color: var(--color-primary);
  font-weight: 600;
  font-size: 16px;
}

.section-solde .solde-content-body .grid .card .card-footer .content-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-solde .solde-content-body .grid .card .card-footer .colors {
  display: flex;
  gap: 5px;
}

.section-solde .solde-content-body .grid .card .card-footer .colors > .color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.section-solde .solde-content-body .grid .card .card-footer .content-store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.section-solde
  .solde-content-body
  .grid
  .card
  .card-footer
  .content-store
  .price {
  font-weight: 600;
  font-size: 18px;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(4px 12px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.section-solde
  .solde-content-body
  .grid
  .card
  .card-footer
  .content-store
  .store {
  color: var(--color-primary);
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
  text-decoration: none;
}

.section-solde
  .solde-content-body
  .grid
  .card
  .card-footer
  .content-store
  .store
  i {
  font-size: 20px;
}

.section-solde
  .solde-content-body
  .grid
  .card
  .card-footer
  .content-store
  .store:hover {
  color: var(--color-secondary);
}

.section-solde .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.section-solde .pagination .content-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(4px 12px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  padding: 15px;
  width: fit-content;
}

.section-solde .pagination .content-pagination a {
  border: 1px solid var(--color-secondary);
  width: 40px;
  height: 40px;
  outline: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: transparent;
  color: var(--color-primary);
  font-size: 18px;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.section-solde .pagination .content-pagination a:hover {
  color: black;
  background: white;
}

@media screen and (max-width: 768px) {
  .section-solde .pagination .content-pagination {
    display: none;
  }
}

/* section-marque */

.section-marque {
  min-height: 100svh;
  width: 100%;
  background: var(--bg-secondary);
  padding: 30px 0;
}

.section-marque .title {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.section-marque .title h1 {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.section-marque .title p {
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: 500;
  margin: -10px 0 10px 0;
}

.section-marque .title .underline {
  height: 4px;
  width: 30%;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.section-marque .marquee-marque {
  width: 100%;
  height: 250px;
  margin-inline: auto;
  position: relative;
  margin-top: 1.5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0)
  );
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.011),
    transparent
  );
  filter: drop-shadow(4px 5px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.section-marque .marquee-marque2 {
  width: 100%;
  height: 250px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  margin-top: 1.5rem;
  mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0)
  );
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.011),
    transparent
  );
  filter: drop-shadow(4px 5px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

@keyframes scrollLeft {
  to {
    left: -305px;
  }
}

@keyframes scrollRight {
  to {
    right: -305px;
  }
}

.section-marque .marquee-marque .item {
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secondary);
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.324),
    transparent
  );
  filter: drop-shadow(4px 5px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 6px;
  position: absolute;
  left: max(calc(300px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.section-marque .marquee-marque2 .item {
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secondary);
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.324),
    transparent
  );
  filter: drop-shadow(4px 5px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border-radius: 6px;
  position: absolute;
  right: max(calc(300px * 8), 100%);
  animation-name: scrollRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.section-marque .marquee-marque:hover .item,
.section-marque .marquee-marque2:hover .item {
  animation-play-state: paused;
}

.section-marque .marquee-marque .item img,
.section-marque .marquee-marque2 .item img {
  width: 200px;
  object-fit: cover;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

/* section-contact */

.section-contact {
  width: 100%;
  height: 100svh;
  background: var(--bg-dark);
  padding: 30px 0;
}

.section-contact .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.section-contact .title {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.section-contact .title h1 {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.section-contact .title p {
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: 500;
  margin: -10px 0 10px 0;
}

.section-contact .title .underline {
  height: 4px;
  width: 25%;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.section-contact .content-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;
}

.section-contact .content-contact .formulaire {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-contact .content-contact .formulaire .box-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  border: 1px solid var(--color-secondary);
  border-radius: 15px;
  overflow: hidden;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.023),
    transparent
  );
}

.section-contact .content-contact .formulaire .box-content .input-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-contact .content-contact .formulaire .box-content .input-box input,
textarea {
  padding: 15px;
  background: transparent;
  border: 1px solid var(--color-secondary);
  outline: none;
  color: var(--color-primary);
  border-radius: 10px;
  font-weight: 700;
}

.section-contact .content-contact .formulaire .box-content .btn-box button {
  padding: 15px 20px;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.324),
    transparent
  );
  filter: drop-shadow(4px 5px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  color: var(--color-white);
  border: 1px solid var(--color-secondary);
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.section-contact
  .content-contact
  .formulaire
  .box-content
  .btn-box
  button:hover {
  background: radial-gradient(
    circle at center,
    rgba(27, 27, 27, 0.534),
    transparent
  );
  filter: drop-shadow(4px 5px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.section-contact .content-contact .illustration {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.041),
    transparent
  );
  filter: drop-shadow(4px 5px 5px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.section-contact .content-contact .illustration img {
  width: 60%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .section-contact .content-contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 30px 0;
  }

  .section-contact .content-contact .illustration {
    display: none;
  }
}

/* section-panier */

.section-panier {
  width: 100%;
  height: 100svh;
  background: var(--bg-dark);
  padding: 100px 0 0px 0;
}

.section-panier .content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 30px 0;
}

.section-panier .content .produits {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-panier .content .produits .title,
.section-panier .content .payement .title {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.section-panier .content .produits .title h1,
.section-panier .content .payement .title h1 {
  color: var(--color-primary);
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.section-panier .content .produits .title .underline,
.section-panier .content .payement .title .underline {
  height: 4px;
  width: 50%;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.section-panier .content .produits .table {
  width: 100%;
  background: var(--bg-secondary);
  padding: 20px;
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
}

.section-panier .content .produits table {
  width: 100%;
  border-collapse: collapse;
}

.section-panier .content .produits table tr:not(:last-child) {
  border-bottom: 1px solid var(--color-secondary);
  text-align: left;
}

.section-panier .content .produits table th,
.section-panier .content .produits table td {
  text-align: left;
  padding: 15px;
}

.section-panier .content .produits table td input {
  padding: 5px;
  background: transparent;
  border: 1px solid var(--color-secondary);
  outline: none;
  color: var(--color-primary);
  border-radius: 10px;
  height: 45px;
  width: 45px;
  text-align: center;
}

.section-panier .content .produits table td a {
  color: rgba(255, 0, 0, 0.676);
  text-decoration: none;
}

.section-panier .content .produits table td a i {
  font-size: 20px;
}

.section-panier .content .payement {
  position: sticky;
  top: 80px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section-panier .content .payement .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-panier .content .payement .content .total {
  color: var(--color-primary);
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.section-panier .content .payement .content .btn-box {
  gap: 20px;
}

.section-panier .content .payement .content .btn-box button {
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(31px 15px 50px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  color: var(--color-white);
  border: 1px solid var(--color-secondary);
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  padding: 15px;
  width: 50%;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

/* Footer */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
  padding: 20px 0;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

footer .footer-icons,
footer .footer-links,
footer p {
  padding: 5px 0;
}

footer .footer-links,
footer .footer-icons,
footer .footer-links ul,
footer .footer-icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer .footer-links ul li,
footer .footer-icons ul li {
  margin: 0 10px;
}

footer .footer-links ul li a {
  font-size: 18px;
}

footer .footer-links ul li a,
footer .footer-icons ul li a {
  color: var(--color-primary);
  text-decoration: none;
}

footer .footer-icons ul li a:hover {
  color: var(--color-secondary);
}

footer .footer-icons ul li a i {
  margin-right: 5px;
  font-size: 26px;
}

/* section-register */

.section-register,
.section-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-dark);
  width: 100%;
  height: 100svh;
}

.section-register .container {
  margin-top: 130px;
}

.section-register form,
.section-login form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 120px;
}
.section-register form .formulaire,
.section-login form .formulaire {
  padding: 30px;
  background: var(--bg-secondary);
  border-radius: 15px;
  border: 1px solid var(--color-secondary);
  max-width: 400px;
}

.section-register form .formulaire .title,
.section-login form .formulaire .title {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.section-register form .formulaire .title h1,
.section-login form .formulaire .title h1 {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.section-register form .formulaire .title p,
.section-login form .formulaire .title p {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 500;
  margin: -10px 0 10px 0;
}
.section-register form .formulaire .title .underline,
.section-login form .formulaire .title .underline {
  height: 4px;
  width: 25%;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.section-register form .formulaire .content,
.section-login form .formulaire .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.section-register form .formulaire .content .errorMsg,
.section-login form .formulaire .content .errorMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  padding: 10px;
  border-radius: 10px;
}

.section-register form .formulaire .content .errorMsg p,
.section-login form .formulaire .content .errorMsg p {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
}

.section-register form .formulaire .content .input-box,
.section-login form .formulaire .content .input-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-register form .formulaire .content .fullname,
.section-login form .formulaire .content .fullname {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.section-register form .formulaire .content .fullname .input-box input,
.section-login form .formulaire .content .fullname .input-box input,
.section-register form .formulaire .content .input-box select,
.section-login form .formulaire .content .input-box select {
  width: 100%;
}

form .formulaire .content .input-box select {
  padding: 15px;
  background: transparent;
  border: 1px solid var(--color-secondary);
  outline: none;
  color: var(--color-primary);
  background: var(--bg-secondary);
  border-radius: 10px;
  font-weight: 700;
  width: 170px;
}

form .formulaire .content .input-box input {
  padding: 15px;
  background: transparent;
  border: 1px solid var(--color-secondary);
  outline: none;
  color: var(--color-primary);
  border-radius: 10px;
  font-weight: 700;
}

form .formulaire .content .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

form .formulaire .content .btn-box button {
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(31px 15px 50px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  color: var(--color-white);
  border: 1px solid var(--color-secondary);
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  padding: 15px;
  width: 50%;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

form .formulaire .content .link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
form .formulaire .content .link a {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

/* section-profile */

.section-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-dark);
  width: 100%;
  height: 100vh;
}

.section-profile .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.section-profile .grid .avatar {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-profile .grid .avatar img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.section-profile .grid .informations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.section-profile .setting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.section-profile .setting a {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  background: red;
  padding: 10px;
  border-radius: 10px;
}

/* section-admin */

.section-admin {
  display: flex;
  flex-direction: column;
  background: var(--bg-dark);
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.section-admin .content {
  margin: auto;
  width: 60%;
  background: var(--bg-secondary);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
}

.section-admin .content .title {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
}

.section-admin .content .title h1 {
  color: var(--color-primary);
  font-size: 30px;
  font-weight: 700;
}

.section-admin .content .title .underline {
  height: 4px;
  width: 50%;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.section-admin .content .formulaire {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.section-admin .content .formulaire .file {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.section-admin .content .formulaire .file label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 50%;
  color: var(--color-primary);
  border: 1px dashed var(--color-secondary);
  font-size: 18px;
  font-weight: 700;
  background: var(--bg-dark);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.section-admin .content .formulaire .file input {
  display: none;
}

.section-admin .content .formulaire .box-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section-admin .content .formulaire .box-content .input-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.section-admin .content .formulaire .box-content .input-box input,
.section-admin .content .formulaire .box-content .input-box textarea,
.section-admin .content .formulaire .box-content .input-box select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  background: transparent;
  color: var(--color-primary);
}

.section-admin .content .formulaire .box-content .input-box select {
  background: var(--bg-secondary);
}

.section-admin .content .formulaire .box-content .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  width: 100%;
}

.section-admin .content .formulaire .box-content .btn-box button {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(31px 15px 50px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  color: var(--color-primary);
  cursor: pointer;
  width: 200px;
  font-weight: 700;
}

/* section-admi-profil */

.section-admi-profil {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-dark);
  width: 100%;
  min-height: 100svh;
  height: 100%;
  padding-top: 20px;
}

.section-admi-profil .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section-admi-profil .grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background: var(--bg-secondary);
  gap: 20px;
  width: 100%;
  min-height: 70svh;
  border: 1px solid var(--color-secondary);
  padding: 20px;
  border-radius: 15px;
}

.section-admi-profil .grid-box .grid-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.section-admi-profil .grid-box .grid-left .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, red, blue);
}

.section-admi-profil .grid-box .grid-left .informations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.section-admi-profil .grid-box .grid-left .setting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-admi-profil .grid-box .grid-left .setting a {
  background: rgba(255, 0, 0, 0.833);
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
}

.section-admi-profil .grid-box .grid-right {
  border-left: 1px solid var(--color-secondary);
  height: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-admi-profil .grid-box .grid-right {
    padding: 0 20px;
  }
}

.section-admi-profil .grid-box .grid-right .setting-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.section-admi-profil .grid-box .grid-right .setting-admin .title {
  color: var(--color-primary);
  display: flex;
  justify-content: left;
  width: 100%;
}

.section-admi-profil .grid-box .grid-right .setting-admin .title h1 {
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

.section-admi-profil .grid-box .grid-right .setting-admin .input-box {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.section-admi-profil .grid-box .grid-right .setting-admin .input-box input {
  padding: 13px;
  border-radius: 10px;
  background: transparent;
  color: var(--color-primary);
  border: 3px solid var(--color-secondary);
  outline: 0;
  transition: 0.5s ease-in-out;
}

.section-admi-profil
  .grid-box
  .grid-right
  .setting-admin
  .input-box
  input:focus {
  border: 3px solid var(--color-primary);
}

.section-admi-profil .grid-box .grid-right .setting-admin .input-box button {
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.146),
    transparent
  );
  filter: drop-shadow(31px 15px 50px #222222);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  font-weight: 700;
  padding: 11px;
  width: 220px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.section-admi-profil
  .grid-box
  .grid-right
  .setting-admin
  .input-box
  button:hover {
  background: var(--color-primary);
  color: var(--bg-dark);
}

.section-admi-profil .grid-box .grid-right .setting-admin .errorMessage {
  background: red;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
}

.section-admi-profil .grid-box .grid-right .setting-admin .successMessage {
  background: green;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section-admi-profil .grid-box {
    grid-template-columns: 1fr;
  }

  .section-admi-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .section-admi-profil .grid-box .grid-right {
    border-left: none;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/* Theme Toggle */

.theme-toggle {
  position: fixed;
  bottom: 50px;
  right: 25px;
  z-index: 10;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: transparent;
  background-color: var(--bg-dark);
  border: 1px solid var(--color-secondary);
  transition: cubic-bezier(0.42, 0.85, 0.83, 0.49) 0.5s;
}

.theme-toggle i {
  size: 10px;
  font-size: 25px;
  color: var(--color-primary);
}

.theme-toggle:hover {
  background: var(--color-primary);
  border-color: var(--bg-dark);
}

.theme-toggle:hover > i {
  color: var(--bg-dark);
}
